<nav class="navbar navbar-expand-lg navbar-dark justify-content-between px-lg-5">
  <!-- Title -->
  <a id="app-title" class="navbar-brand title-font" (click)="navigate('')">
    <img id="logo-icon" src="/assets/logo_sm.svg" width="30" height="30" alt=""> Coffee House
  </a>
  <!-- Toggler for responsive layout -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu Items -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/about')">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/openinghours')">Opening Hours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/location')">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/reservation')">Make Reservation</a>
      </li>
    </ul>
  </div>
</nav>