/* Instead of classic text box, just a line underneath */

input,
select {
  background-color: inherit;
  height: unset !important;
  border-width: 0px 0px 1px;
  padding: 0.8rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 8px;
  color: #495057;
  border-radius: 0 !important;
}

textarea {
  background-color: inherit;
  border-width: 1px;
  padding: 0rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #495057;
  border-radius: 0 !important;
  &::placeholder {
    font-size: 0.9rem;
    color: #495057;
    font-weight: 400;
  }
}


/*
Shows label in input field and smoothly goes to top when there's input
<label>
  <div class="label-text">label</div>
  <input>
</label>
*/

label {
  display: block;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  /deep/ .label-text {
    &.animate {
      -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
    transition: all 0.3s;
    }
    &.noanimate {
      transform: translateY(-60px);
    }
  }

  /deep/ input:focus,
  /deep/ input:valid,
  /deep/ select:focus,
  /deep/ select:valid {
    +.label-text.animate {
      -moz-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px);
      transition: all 0.3s;
    }
  }
}

.error label {
  /deep/ input,
  /deep/ select {
    +.label-text.animate {
      -moz-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px);
    }
  }
}

.form-control {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: inherit !important;
  }
}
