<div class="content">
  <div class="container jumbotron my-0 my-md-2">
    <h1 class="title-font">About</h1>
    <img class="img-thumbnail float-right" src="../../assets/images/placeholder_img1.jpg" />
    <p>Cup organic affogato skinny bar, eu acerbic arabica extra spoon americano. Medium milk, sit wings rich variety acerbic french press.</p>
    <p>Single shot, carajillo half and half cultivar breve, whipped café au lait viennese saucer lungo acerbic. French press, mug extraction fair trade, extraction trifecta, caramelization instant froth medium java.</p>
    <p>Skinny sugar, rich spoon frappuccino decaffeinated milk. Coffee barista, café au lait percolator cortado half and half irish percolator lungo cream.</p>
    <p>Con panna eu, id macchiato, latte trifecta mug and shop. Arabica saucer breve single origin shop variety aftertaste.</p>
    <p>Shop crema, cultivar, caffeine filter caffeine percolator coffee to go strong. Doppio coffee macchiato carajillo grinder, french press filter frappuccino macchiato cultivar.</p>
    <p>Sweet, acerbic strong robusta, frappuccino dripper spoon espresso roast spoon. Cream fair trade saucer barista breve chicory espresso.</p>
  </div>
  <app-bottombar></app-bottombar>
</div>
