<nav class="navbar navbar-expand-lg navbar-dark justify-content-between px-lg-5">
  <!-- Title -->
  <a id="app-title" class="navbar-brand title-font" (click)="navigate('')">
    <img id="logo-icon" src="./assets/logo_sm.svg" width="30" height="30" alt=""> Coffee House
  </a>
  <!-- Toggler for responsive layout -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu Items -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/about')" data-toggle="collapse" data-target=".navbar-collapse.show">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/openinghours')" data-toggle="collapse" data-target=".navbar-collapse.show">Opening Hours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/location')" data-toggle="collapse" data-target=".navbar-collapse.show">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('/reservation')" data-toggle="collapse" data-target=".navbar-collapse.show">Make Reservation</a>
      </li>
    </ul>
    <!-- Login/Logout buttons -->
    <button *ngIf="!loggedIn" type="button" class="btn btn-outline-light cursor-pointer ml-md-auto" data-toggle="modal" data-target="#loginModal">
      <span data-toggle="collapse" data-target=".navbar-collapse">Login</span>
    </button>
    <button *ngIf="loggedIn" type="button" class="btn btn-outline-light cursor-pointer ml-md-auto" (click)="logout()">
      <span data-toggle="collapse" data-target=".navbar-collapse">Login</span>
    </button>
  </div>
</nav>
