@import '../../sass/_variables.scss';
@import '../../sass/_animations.scss';

.navbar {
  position: fixed;
  background-image: url(../../assets/images/bg_img1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  width: 100%;
  z-index: 10;

  @media screen and (max-width: 992px) {
    background-image: none;
    background-color: #151212;
  }

  &.background-color {
    background-color: rgba(0,0,0,1);
  }
  i {
    color: #FFF;
  }
}

.navbar-brand {
  font-size: x-large;
}

#logo-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#app-title {
  color: white;
}


// xs screens specific
@media screen and (max-width: 992px) {
  .navbar-collapse {
    height: 100vh;
    transition: height 0.6s;
    text-align: center;

    .navbar-nav {
      padding-top: 3rem;
      padding-bottom: 2rem;

      .nav-item {
        width: 75vw;
        margin: 0 auto;
        color: rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(255,255,255,0.25);
        padding: 0.75rem;

        * {
          color: rgba(255, 255, 255, 1);
          font-size: large;
          text-align: center;
        }

        &:last-child {
          border-bottom: 0px;
        }
      }
    }

    button {
      margin: 0 auto !important;
      font-size: medium;
      padding: 0.8rem;
    }
  }

  .navbar-collapse.collapse.in {
    height: 100vh !important;
    transition: height 0.6s ;
  }

  .navbar-collapse.collapsing {
    height: 0 !important;
    transition: height 0.6s ;
  }
}

