@import '../_variables.scss';

.background-img {
  background-image: radial-gradient(circle at center, rgba(233, 233, 233, 0.582) 0, rgba(59, 59, 59, 0.685)), url(../assets/images/bg_img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
}

// Takes up all window space, except topbar
.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


:host /deep/ router-outlet + * > .content {
  border: 1px solid red;
  height: 100vh;
}