@import '../sass/_variables.scss';

.background-img {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  background-image: url(../assets/images/bg_img1.jpg);
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
}

// Takes up all window space, except topbar
.fill {
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: $footer-height;
}

// Select div with class="content" within sibling of router-outlet
:host /deep/ router-outlet + * > .content {
  margin-top: $navbar-height;
  padding-bottom: $footer-height;
  min-height: 100vh;

  footer {
    position:absolute;
    bottom: 0;
    width: 100%;
  }
}
