/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/bootswatch.scss';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~font-awesome/css/font-awesome.css';
@import "_variables.scss";
@import "_animations.scss";

@font-face {
  font-family: "GrandHotel";
  src: url("./assets/fonts/GrandHotel-Regular.ttf");
}

.title-font {
  font-family: "GrandHotel";
}

.navbar-dark {
  background-color: $chocolate;
}

.container.jumbotron {
  background-color: rgba(255,255,255,0.75);
  border-top: 4px solid $chocolate;

  form input, form textarea {
    background-color: inherit;
  }

  mat-slider {
    opacity: 0.9;
  }
}

a {
  cursor: pointer;
}
