@import '../../../_variables.scss';
input {
  border-width: 0px 0px 1px;
  padding: 0.8rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 8px;
  color: #495057;
  border-radius: 0;
}

label {
  display: block;
  width: 100%;
}

label .label-text {
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
  transition: all 0.3s;
}

label input:focus+.label-text {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  transition: all 0.3s;
}

label input:valid+.label-text,
.error label input+.label-text {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.error-msg>.msg {
  position: absolute;
  right: 0;
  top: -20px;
}
.error input {
  &:not(:focus) {
    border-bottom: 1px solid $danger;
    color: $danger;

    &~.error-msg>.msg {
      display: block;
      color: $danger !important;
    }
  }
}

