<div [formGroup]="formGroup"
      [ngClass]="{
        'error':
          formGroup.controls[controlName].errors &&
          formGroup.controls[controlName].dirty
      }">
  <label>
    <ng-content></ng-content>
    <!-- Validation -->
    <div *ngIf="formGroup.controls[controlName].errors &&
              !formGroup.controls[controlName].pristine"
        class="error-msg p-0 col-12">
      <div class="msg" [hidden]="!formGroup.controls[controlName].errors.required">
        {{ label }} is required.
      </div>
      <div class="msg" [hidden]="!formGroup.controls[controlName].errors.patternInvalid">
        {{ label }} is invalid.
      </div>
    </div>
  </label>
</div>
