<div class="form-group row pt-1"
      [formGroup]="formGroup"
      [ngClass]="{
        'error':
          formGroup.controls[controlName].errors &&
          formGroup.controls[controlName].dirty
      }">

  <label>
    <input [value]="inputValue"
          [formControlName]="controlName"
          required
          class="form-control form-control-lg col-12 p-0"
          [type]="formType"
          [id]="inputId">
    <div class="label-text">
      {{ label }}
    </div>
    <!-- Validation -->
    <div *ngIf="formGroup.controls[controlName].errors &&
              !formGroup.controls[controlName].pristine"
        class="error-msg p-0 col-12">
      <div class="msg" [hidden]="!formGroup.controls[controlName].errors.required">
        {{ label }} is required.
      </div>
      <div class="msg" [hidden]="!formGroup.controls[controlName].errors.patternInvalid">
        {{ label }} is invalid.
      </div>
    </div>
  </label>
</div>
