<footer class="navbar navbar-dark px-md-5">
  <span class="navbar-text">+32 481 234 567</span>
  <small class="navbar-text">&copy; Copyright 2018, Coffee House</small>
  <div class="navbar-item">
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <a href="https://www.twitter.com/" target="_blank">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fa fa-instagram fa-2x"></i>
    </a>
  </div>
</footer>